body {
  background: #f8f8f8 !important;
}

.qm-action-bar-bg {
  background: #f8f8f8;
}

#app {
  padding-bottom: 0.6rem;
}

.section {
  margin-bottom: 20px;
  background: #fff;
}

.action-bar .md-tag {
  margin-left: 5px;
}

.qm-logo {
  margin: 0.2rem auto;
  width: 2.4rem;
  height: auto;
  display :block;
}

.qm-input-large-text.md-input-item .md-input-item-control .md-input-item-fake {
  font-size: 0.48rem !important;
}

.md-example-child-md-activity-indicator-1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  .md-activity-indicator {
    margin-bottom: 30px;
  }

  .activity-indicator-container {
    margin-bottom: 30px;
    padding: 0.4rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;

    .md-activity-indicator-css {
      margin-bottom: 0;

      .md-activity-indicator-svg {
        width: 0.72rem !important;
        height: 0.72rem !important;
      }

      .md-activity-indicator-text {
        font-size: 0.3rem !important;
      }
    }
  }
}

.md-field-item.is-solid .md-field-item-title {
  text-align: left;
}