@import '~mand-mobile/components/_style/mixin/util';
@import '~mand-mobile/components/_style/mixin/theme.components';
@import '~mand-mobile/components/_style/mixin/theme.basic';
@import '~nib/lib/nib/vendor';
@import '~nib/lib/nib/gradients';
@import '~mand-mobile/components/_style/global.styl';
@import '~normalize.css';

// 全局时的样式
// @import '~mand-mobile/lib/mand-mobile.css';
// @import '~mand-mobile/lib/_style/mixin/theme.components';
// @import '~normalize.css';
color-primary = #b50029;
button-primary-active-fill = #a90328;
toast-fill = rgba(0, 0, 0, 1);
toast-zindex = 2600;
slider-bg-base = #CCC;
popup-title-bar-bg = #EEE;
tab-picker-bg = #EEE;
tab-picker-height = 50vh;